<div class="col-md-16">
    <div class="row box">
      <div class="box-inner col-md-4 col-md-offset-1">
        <h1 class="title">寻找优秀的健身教练</h1>
        <p class="slogan">如果您有梦想、热情、积极向上、希望在私教工作室工作
        </p>
        <p class="lead">
          <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>

      <div class="content-section-a">
         <div class="container">
           <div class="row">
             <div class="col-lg-5 col-sm-6">
               <hr class="section-heading-spacer">
               <div class="clearfix"></div>
               <h2 class="section-heading">Gravity Group Strength</h2>
               <p class="lead">引力团体课程人数为5-8人，在激情的音乐氛围里，通过45-60分钟的肌肉塑形和耐力减脂训练来满足同一课程中每个人个性化的需求，并将独特的核心训练，拉伸放松练习巧妙的与课程结合在一起。

引力团体完全在引力设备上达到全身锻炼的效果，同时没有任何复杂的技术需要特别注意。

引力团体的特点：有趣、有效、有社交。将大量传统健身房完成的训练内容浓缩在一节课程里，在伙伴的陪同下，共同快乐的完成这节引力团体课程。</p>
             </div>
             <div class="col-lg-5 col-lg-offset-2 col-sm-6">
               <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
             </div>
           </div>
         </div>
       </div>

       <div class="content-section-b">
         <div class="container">
           <div class="row">
             <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-4">
               <hr class="section-heading-spacer">
               <div class="clearfix"></div>
               <h2 class="section-heading">Gravity Post Rehab & personal trainning</h2>
               <p class="lead">引力康复训练模式为私人教练、物理治疗师提供了一套内容完整、综合性强的康复后期解决方案，重点放在了改善膝关节、腰椎和肩颈关节的活动度，通过持续有效的训练方式最终达到完全康复的目标。 引力私教是将引力设备与多种训练方式合理搭配的训练模式，它为客户提供安全高效的一对一，一对多的私教训练。这种训练方式可在一台引力设备上完成一套由稳定性、力量和爆发力练习所组成的完整训练计划。引力教练可根据客户的实际需求设计出一套有针对性、省时高效的训练计划来帮助客户达到预定目标。</p>
             </div>
             <div class="col-lg-5 col-sm-pull-6  col-sm-6">
               <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
             </div>
           </div>
         </div>
       </div>

       <div class="content-section-a">
         <div class="container">
           <div class="row">
             <div class="col-lg-5 col-sm-6">
               <hr class="section-heading-spacer">
               <div class="clearfix"></div>
               <h2 class="section-heading"><br>Gravity Pilates </h2>
               <p class="lead">引力普拉提是一个静态类型的训练课程，将传统垫上普拉提与普拉提床合二为一在引力设备上进行训练，充分挑战核心力量、动态稳定性以及协调性。引力普拉提在围绕着普拉提核心训练原则的同时更融入了运动生物力学的元素让每位参与者都能在准确无误的指导下得到最佳锻炼效果。</p>
             </div>
             <div class="col-lg-5 col-lg-offset-2 col-sm-6">
               <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
             </div>
           </div>
         </div>
       </div>
